/*
File Name: style.css

*Name: Jeff Whitcomb, Alec Bender, Evan Isenogle, Andrew Moore
*email: whitcojr@mail.uc.edu, moore6aw@mail.uc.edu. benderax@mail.uc.edu, isenogej@mail.uc.edu 
*Assignment Number: Assignment Final Project
*Due Date: 4/29/2025
*Course #/Section: IS 3050 001
* Semester / Year: Spring 2025
*Brief Description of the assignment: Create an aspx webpage with c# to display the hard leet code problems we completed. 

*Brief Description of what this module does. Introduces leetcode as a practice platform for coding, and shows how to use github to push and pull commits among a team. 
*Citations: 
*/

.headerintro {
    text-align:center ; 
    font-size: 30px;
    color:blue; 
    border: 8px solid grey;
}

.body {
    text-align: center;
    font-size: 20px;
    margin-top: 17px;
    margin-bottom: 2px;
}
.buttons {
    text-align: center;
    
}
.lblheader{
    text-align: center;

}
.lbldescription {
    text-align: center;
}
.lbltstcase {
    text-align: center;
}
.lbloutput {
    text-align: center;
}


